
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNKR</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header >
        <div class="cabecera">
            Envios gratis a todo el pais 
        </div>
        <div class="main-header">
            <a href="/home">
                <img src="/images/logosimple.png" alt="Venta zapatillas">
            </a>
            <div class="search">
                <input type="text">
                <i class="fas fa-search"></i>
            </div>
            <div class="icons">
            <a id="login" href="/login">
                <i class="fas fa-user"></i>
            </a>
            <a id="cart" href="/productCart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            </div>  
        </div>
        <div class="second-header">
            <p>NEW</p>
            <p>HOMBRE</p>
            <p>MUJER</p>
            <p>MARCA</p>
            <p>SALE</p>
        </div>
    </header>
    <main>
        <div class="banner">
            <div class="flecha-izquierda"><i class="fas fa-chevron-left"></i></div>
            <img src="/images/baner2.jpg" alt="">
            <div class="flecha-derecha"><i class="fas fa-chevron-right"></i></div>
        </div>
        <section>
            <article class="producto" >
                <div>
                    <img src="/images/logo.jpg" alt=""> 
                    <h2>Producto</h2>
                </div>
            </article>
            <article class="producto">
                <img src="/images/logo.jpg" alt=""> 
                <h2>Producto</h2>
            </article>
            <article class="producto">
                <img src="/images/logo.jpg" alt=""> 
                <h2>Producto</h2>
            </article>
        </section>
    </main>
    
</body>
<footer>
    <section>
        <h3>Institucional</h3>
        <ul >
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Contactanos</a></li>
        </ul>
    </section>
    <section id="redes">
        <h3 id="seguinos">Seguinos</h3>
        <ul id="caja-iconos-redes">
            <a href=""  class="iconos-redes"><i class="fab fa-instagram"></i></a>
            <a href="" class="iconos-redes"><i class="fab fa-facebook-square"></i></a>
            <a href="" class="iconos-redes"><i class="fab fa-twitter"></i></a>
        </ul>
    </section>
    <section>
        <h3>Ayuda</h3>
        <ul>
            <li><a href="#">Locales</a></li>
            <li><a href="#">Formas de Pago</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
        </ul>    
    </section>
</footer>
</html>