<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNKR</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header >
        <div class="cabecera">
            Envios gratis a todo el pais 
        </div>
        <div class="main-header">
            <a href="/home">
                <img src="/images/logosimple.png" alt="Venta zapatillas">
            </a>
            <div class="search">
                <input type="text">
                <i class="fas fa-search"></i>
            </div>
            <div class="icons">
            <a id="login" href="/login">
                <i class="fas fa-user"></i>
            </a>
            <a id="cart" href="/productCart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            </div>  
        </div>
        <div class="second-header">
            <p>NEW</p>
            <p>HOMBRE</p>
            <p>MUJER</p>
            <p>MARCA</p>
            <p>SALE</p>
        </div>
    </header>
    <main>
        //PANTALLA DE LOGUEO
        <label>INGRESAR</label>
         <p>
            <label for="usuario">USUARIO/E-MAIL:</label>
            <input type="text" name="usuario" id="usuario">
        </p>
        <p>
            <label for="password">PASSWORD:</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <button type="submit">ACCEDER</button>
        </p>
        <p>
            <label>¿NO TENÉS USUARIO?</label>
            <button>REGISTRATE</button>
        </p>
    </main>

</body>
<footer>
    <div class="footer">
        <section class="seccion-footer">
            <h3 class="h3-delfooter">Institucional</h3>
            <ul >
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </section>
        <section class="seccion-footer" id="redes">
            <h3 class="h3-delfooter" id="seguinos">Seguinos</h3>
            <ul id="caja-iconos-redes">
                <a href="https://www.instagram.com/" target="#"  class="iconos-redes"><i class="fab fa-instagram"></i></a>
                <a href="https://es-la.facebook.com/" target="#" class="iconos-redes"><i class="fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/"  target="#" class="iconos-redes"><i class="fab fa-twitter"></i></a>
            </ul>
        </section>
        <section class="seccion-footer">
            <h3 class="h3-delfooter">Ayuda</h3>
            <ul>
                <li><a href="#">Locales</a></li>
                <li><a href="#">Formas de Pago</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>    
        </section>
    </div>
    <div class="copyright">
        <p>Copyright © 1999-2021 SNKR S.R.L.</p>
    </div>
</footer>
</html>