<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNKR</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header >
        <div class="cabecera">
            ¡Envios gratis a todo el país!
        </div>
        <div class="main-header">
            <a href="/home">
                <img src="/images/logosimple.png" alt="Venta zapatillas">
            </a>
            <div class="search">
                <input type="text" placeholder="Buscar..." class="buscador">
                <i class="fas fa-search"></i>
            </div>
            <div class="login-cart" >
                <div >
                    <a id="login" href="/login">
                        <i class="fas fa-user"></i>
                    </a>
                </div>
                <a id="cart" href="/productCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>  
        </div>

        <div class="second-header">
            <p>NEW</p>
            <p>HOMBRE</p>
            <p>MUJER</p>
            <p>MARCA</p>
            <p id="sale">SALE</p>
        </div>
    </header>



    <main>
        <div class="filtrosAplicados">
            <span>SNKR <i class="fas fa-arrow-right"></i> HOMBRE <i class="fas fa-arrow-right"></i> ADIDAS</span>
        </div>

        <hr class="separacionFiltrosProducto">

        <section class="producto">
            
                <i class="fas fa-arrow-left"></i>
                <img  class="fotoProducto" src="/images/Air jordan 1 mocha.png" alt="altas jordan 1">
                <i class="fas fa-arrow-right"></i>
            
            <div class="detalleProducto">
                <div>
                    <p class="tituloZapas">ZAPATILLAS NIKE AIR JORDAN 1 HIGH MOCHA</p>
                    <p class="precioZapas">$19.999</p>
                </div>

                <hr class="separacionTituloTalles">

                <div class="cajatalles">
                    <p class="talle">Talle</p>
                    <div class="numeroTalle">
                        <ul class="listaTalles">
                            <li><span>38</span></li>
                            <li><span>38.5</span></li>
                            <li><span>39</span></li>
                            <li><span>39.5</span></li>
                            <li><span>40</span></li>
                            <li><span>40.5</span></li>
                            <li><span>41</span></li>
                            <li><span>41.5</span></li>
                            <li><span>42</span></li>
                            <li><span>42.5</span></li>
                            <li><span>43</span></li>
                            <li><span>43.5</span></li>
                            <li><span>44</span></li>
                            <li><span>44.5</span></li>
                        </ul>
                    </div>
                
                <div class="cajaBoton">
                    <button class="botonCompra">AGREGAR AL CARRITO</button>    
                </div>
                <div class="compartirPublicacion">
                    <span id="compartirLabel">Compartir</span>
                    <span><i class="fab fa-whatsapp"></i></span>
                    <span><i class="fab fa-instagram"></i></span>
                    <span><i class="fab fa-twitter"></i></span>
                    <span><i class="fab fa-facebook"></i></span>
                </div>
            </div>
        </section>

        <section class="cajaDescripcion">

            <p class="tituloDescripcion">DESCRIPCIÓN</p>
            <p class="descripcionDescripcion">Las zapatillas Air Jordan 1 están confeccionadas en cuero sintético para una mayor durabilidad y un look sofisticado. Nacidas en 1985, su estilo reconocido mundialmente introduce mejoras en la unidad Air-Sole encapsulada para proporcionar una amortiguación ligera y en la suela de goma que brinda mayor agarre sobre la superficie. El legado está más vivo que nunca.</p>

        </section>
        
        <p class="tituloRecomendados">RECOMENDADOS PARA VOS</p>

        <section class="recomendados">
            <div class="flechas-detail"><i class="fas fa-arrow-left"></i></div>
            <article class="cajaProductoRecomendado">
                <img class="fotoRecomendados" src="/images/air force 1 07wb.jfif">
                <div>
                    <p class="descripcionRecomendados">Zapatillas Nike Air Force 1 07' Wb</p>
                    <p class="precioRecomendados">$12.999</p>
                </div>
            </article>
            <article class="cajaProductoRecomendado">
                <ul>
                    <img class="fotoRecomendados" src="images/jordan 1 low.jfif">
                    <div class="cajaProductos">
                        <p class="descripcionRecomendados">Zapatillas Air Jordan 1</p>
                        <p class="precioRecomendados">$17.999</p>
                    </div>
                </ul>
            </article>
            <article class="cajaProductoRecomendado">
                <ul>
                    <div><img class="fotoRecomendados" src="images/puma RS-X bold.jfif"></div>
                    <div class="cajaProductos">
                        <p class="descripcionRecomendados">Zapatillas Puma RS-X Bold</p>
                        <p class="precioRecomendados">$13.500</p>
                    </div>
                </ul>
            </article>
            <article class="cajaProductoRecomendado">
                <ul>
                    <div><img class="fotoRecomendados" src="images/air max 200 SE.jfif"></div>
                    <div class="cajaProductos">
                        <p class="descripcionRecomendados">Zapatillas Nike Air Max 200 SE</p>
                        <p class="precioRecomendados">$19.999</p>
                    </div>
                </ul>
            </article>
            <div class="flechas-detail"><i class="fas fa-arrow-right"></i></div>
        </section>

    </main>

    
    <footer>
        <div class="footer">
            <section class="seccion-footer">
                <h3 class="h3-delfooter">Institucional</h3>
                <ul >
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Contactanos</a></li>
                </ul>
            </section>
            <section id="redes">
                <h3>Seguinos</h3>
                <ul id="caja-iconos-redes">
                    <a href="https://www.instagram.com/" target="#"  class="iconos-redes"><i class="fab fa-instagram"></i></a>
                    <a href="https://es-la.facebook.com/" target="#" class="iconos-redes"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/"  target="#" class="iconos-redes"><i class="fab fa-twitter"></i></a>
                </ul>
            </section>
            <section class="seccion-footer">
                <h3 class="h3-delfooter">Ayuda</h3>
                <ul>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">Formas de Pago</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>    
            </section>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2021 SNKR S.R.L.</p>
        </div>
    </footer>


</body>
</html>