<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNKR</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header >
        <div class="cabecera">
            ¡Envios gratis a todo el país!
        </div>
        <div class="main-header">
            <a href="/home">
                <img src="/images/logosimple.png" alt="Venta zapatillas">
            </a>
            <div class="search">
                <input type="text">
                <i class="fas fa-search"></i>
            </div>
            <div class="icons">
            <a id="login" href="/login">
                <i class="fas fa-user"></i>
            </a>
            <a id="cart" href="/productCart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            </div>  
        </div>
        <div class="second-header">
            <p>NEW</p>
            <p>HOMBRE</p>
            <p>MUJER</p>
            <p>MARCA</p>
            <p>SALE</p>
        </div>
    </header>



    <main>
        <div class="filtrosAplicados">
            <span>SNKR → HOMBRE → ADIDAS</span>
        </div>

        <hr>

        <section class="producto">
            <div class="fotoProducto">
                <img src="/images/Air jordan 1 mocha.png" alt="altas jordan 1">
            </div>

            <div class="detalleProducto">
                <div>
                    <p class="tituloZapas">Zapatillas Nike Air Jordan 1 High Mocha</p>
                    <p class="precioZapas">$19.999</p>
                </div>

                <hr>

                <div class="cajatalles">
                    <p class="talle">Talle</p>
                    <div class="numeroTalle">
                        <ul class="listaTalles">
                            <li><span>39</span></li>
                            <li><span>40</span></li>
                            <li><span>41</span></li>
                            <li><span>42</span></li>
                            <li><span>43</span></li>
                            <li><span>44</span></li>
                            <li><span>45</span></li>
                            <li><span>46</span></li>
                            <li><span>47</span></li>
                        </ul>
                    </div>
                
                <div class="cajaBoton">
                    <button class="botonCompra">AGREGAR AL CARRITO</button>    
                </div>
                <div class="compartirPublicacion">
                    <span>Compartir</span>
                    <span><i class="fab fa-whatsapp"></i></span>
                    <span><i class="fab fa-instagram"></i></span>
                    <span><i class="fab fa-twitter"></i></span>
                    <span><i class="fab fa-facebook"></i></span>
                </div>
            </div>
        </section>

        <section class="cajaDescripcion">
            <div>
                <h3>Descripción</h3>
            </div>

            <div>
                <p>Las zapatillas Air Jordan 1 están confeccionadas en cuero sintético para una mayor durabilidad y un look sofisticado. Nacidas en 1985, su estilo reconocido mundialmente introduce mejoras en la unidad Air-Sole encapsulada para proporcionar una amortiguación ligera y en la suela de goma que brinda mayor agarre sobre la superficie. El legado está más vivo que nunca.</p>
            </div>

        </section>
        
        <h3 class="tituloRecomendados">Recomendados</h3>

        <section class="cajaRecomendados">
            <article>
                <div class="cajaFotos"><img class="fotosProductos" src="/images/air force 1 07wb.jfif"></div>
                <div class="cajaProductos">
                    <p class="descripciones">Zapatillas Nike Air Force 1 07' Wb</p>
                    <p class="precioRecomendados">$12.999</p>
                </div>
            </article>
            <article>
                <ul>
                    <img class="fotosProductos" src="images/jordan 1 low.jfif">
                    <div class="cajaProductos">
                        <p class="descripciones">Zapatillas Air Jordan 1</p>
                        <p class="precioRecomendados">$17.999</p>
                    </div>
                </ul>
            </article>
            <article>
                <ul>
                    <div><img class="fotosProductos" src="images/puma RS-X bold.jfif"></div>
                    <div class="cajaProductos">
                        <p class="descripciones">Zapatillas Puma RS-X Bold</p>
                        <p class="precioRecomendados">$13.500</p>
                    </div>
                </ul>
            </article>
            <article>
                <ul>
                    <div><img class="fotosProductos" src="images/air max 200 SE.jfif"></div>
                    <div class="cajaProductos">
                        <p class="descripciones">Zapatillas Nike Air Max 200 SE</p>
                        <p class="precioRecomendados">$19.999</p>
                    </div>
                </ul>
            </article>
        </section>

    </main>
    
    
    
    
    <footer>
    <section>
        <h3>Institucional</h3>
        <ul >
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Contactanos</a></li>
        </ul>
    </section>
    <section id="redes">
        <h3 id="seguinos">Seguinos</h3>
        <ul id="caja-iconos-redes">
            <a href=""  class="iconos-redes"><i class="fab fa-instagram"></i></a>
            <a href="" class="iconos-redes"><i class="fab fa-facebook-square"></i></a>
            <a href="" class="iconos-redes"><i class="fab fa-twitter"></i></a>
        </ul>
    </section>
    <section>
        <h3>Ayuda</h3>
        <ul>
            <li><a href="#">Locales</a></li>
            <li><a href="#">Formas de Pago</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
        </ul>    
    </section>
</footer>
</body>
</html>