<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNKR</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header >
        <div class="cabecera">
            ¡Envios gratis a todo el país!
        </div>
        <div class="main-header">
            <a href="/home">
                <img src="/images/logosimple.png" alt="Venta zapatillas">
            </a>
            <div class="search">
                <input type="text" placeholder="Buscar..." class="buscador">
                <i class="fas fa-search"></i>
            </div>
            <div class="login-cart" >
                <div >
                    <a id="login" href="/login">
                        <i class="fas fa-user"></i>
                    </a>
                </div>
                <a id="cart" href="/productCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

            </div>  
        </div>

        <div class="second-header">
            <p>NEW</p>
            <p>HOMBRE</p>
            <p>MUJER</p>
            <p>MARCA</p>
            <p id="sale">SALE</p>
        </div>
    </header>

    <main>
        <section class="asistencia">
            <p>Necesitas asistencia? escribinos a eshop@snkr.com.ar</p>
        </section>
        <section class="section-carrito">
            <div id="items">
                <div class="titulo">
                    <h3>ITEMS EN TU PEDIDO</h3>
                </div>
                <article class="producto-carrito" >
                    <img src="images/jordan 1 low.jfif" alt=""> 
                    <div class="detalles-producto">
                        <div class="nombre-producto">
                            <h3 class="item-nombre">Zapatillas Nike Jordan</h3>
                            <h3 class="item-nombre">$11.999</h3>
                            <div class="stock-item">
                                <h4>1</h3>
                                <i class="fas fa-chevron-down fa-10x"></i>
                            </div>
                        </div>
                        <div id="talle-color">
                            <p>Talle: 11 US (equivale a 44 arg)</p>
                            <p>Color: Blanco y rojo</p>
                        </div>
                        <div class="barra"></div>
                        <div id="talle-color">
                            <p>Código: #DA7074-200 | Marca: Nike</p>
                            <p>Disponible en depósito: Pedilo hoy y se despacha en uno o dos días hábiles.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div id="resumen">
                <h3 id="titulo-resumen">RESUMEN</h3>
                <div class="linea-resumen">
                    <h4>Subtotal</h4>
                    <p>$11.999</p>
                </div>
                <div class="linea-resumen">
                    <h4>Costo de envio</h4>
                    <p id="envio-gratis"><strong>¡Envío gratis!</strong></p>
                </div>
                <div class="linea-resumen">
                    <h4>Total</h4>
                    <p>$11.999</p>
                </div>
                <div id="proceder-pago">
                    <h4>PROCEDER CON EL PAGO</h4>
                </div>
                <div id="aplicar-cupon">
                    <h4>APLICAR CUPON</h4>
                </div>
            </div>
            
        </section>

    </main>

    <footer>
        <div class="footer">
            <section class="seccion-footer">
                <h3 class="h3-delfooter">Institucional</h3>
                <ul >
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Contactanos</a></li>
                </ul>
            </section>
            <section id="redes">
                <h3>Seguinos</h3>
                <ul id="caja-iconos-redes">
                    <a href="https://www.instagram.com/" target="#"  class="iconos-redes"><i class="fab fa-instagram"></i></a>
                    <a href="https://es-la.facebook.com/" target="#" class="iconos-redes"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/"  target="#" class="iconos-redes"><i class="fab fa-twitter"></i></a>
                </ul>
            </section>
            <section class="seccion-footer">
                <h3 class="h3-delfooter">Ayuda</h3>
                <ul>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">Formas de Pago</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>    
            </section>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2021 SNKR S.R.L.</p>
        </div>
    </footer>


</body>
</html>