* {
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.cabecera {
    background-color: #565B62 ;
    text-align: center;
    color: white;
    height: 25px;
    padding: 5px;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #accbd6;  */
    /* background-color: #85C1E9;  */
    /* background-color: #6491AF; */
    background-color: #39A6A3; 
}

.main-header img {
    height: 100px;
}
.search {
    width: 30%;
    padding: 5px;
    position: relative;
    left: -15px;
    
}
.search input {
    width: 82%;
    height: 35px;
    border-radius: 15px;
    border: none;
}
.search i {
    position: relative;
    right: 45px;
    top: 3px;
    font-size: 20px;
}
.login-cart{
    display: flex;
    align-items: center;
}
#login {
    margin: 10px;
    color: black;
}

#cart {
    margin: 10px;
    color: black;
}
.main-header a i{
    font-size: 30px;
}
.second-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #DAD3D3 ;
}

.second-header p {
    margin: 5px 25px;
    font-weight: 400;
    font-size: 18px;
}

.banner {
    position: relative;
    margin-bottom: 25px;
}

.banner img{
    width: 100%;
    height: 450px;
    
}
.flecha-izquierda {
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 10px;

}
.flecha-derecha {
    font-size: 40px;
    position: absolute;
    top: 40%;
    right: 10px;
}
.section-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px ;
}
.producto-home {
    width: 25%;
    position: relative;

}
.producto-home h2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 700ms ;
}
.producto-home:hover h2 {
    opacity: 1;

}
.producto-home img {
    width: 100%;
}

#sale{
    color:red;
}

/* FOOTER */

.footer {
    display: flex; 
    justify-content: space-around;
    background-color: #39A6A3 ;
}

.copyright p{
    font-size: 15px;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.footer section {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

#redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section h3 {
    margin: 15px 0 5px 0;
    
}

.footer section ul {
    margin: 10px 0 5px 0;
    list-style: none;
}

.footer section ul li {
    margin: 5px 0px;
}

.footer section ul a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

#caja-iconos-redes i{
    font-size: 35px;
}

.iconos-redes {
    margin: 0px 10px; 
    font-size: 43px;
}

.copyright {
    background-color: #DAD3D3 ;
    font-size: 15px;
    position: relative ;
    top: -1px;
    
}

/************** DETALLE DE PRODUCTOS ****************/

.filtrosAplicados{
    height: 10%;
    padding: 15px;
    font-size: 17px;
}

.filtrosAplicados i{
    font-size: 17px;
}

.producto{
    display:flex;
    width: 100%;
    margin: 20px 0 5px 0;
    align-items: center;

}

.cajaFotoProducto{
    display:flex;
}

.cajaFotoProducto i{
    margin:0;
    align-items: center;
    width: 5%;
}

.fotoProducto{
    width: auto;
}

.producto i{
    margin:0;
    padding: 10px;
}

/*** HR ***/

.separacionFiltrosProducto{
    width: 98%;
    margin:auto;
    opacity: 80%;
}

.separacionTituloTalles{
    width: 95%;
    color: #ebebeb;
    opacity: 40%;
}

/***************************/

.detalleProducto{
    width:50%;
    height: 100%;
}

.listaTalles{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
}

.listaTalles li{
    border: 2px solid #39A6A3;
    border-radius: 25%;
    padding: 9px;
    margin: 0 5px 5px 0;
    color:#39A6A3;
    font-weight: bold;
}

.tituloZapas{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.precioZapas{
    font-size: 25px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 1000;
}

.talle{
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.listaTalles{
    margin: 10px 0 20px 0;
    font-size: 16px;
}

.cajaBoton{
    display:flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.compartirPublicacion{
    justify-content: center;
    font-size: 17px;
    display:flex;
    align-items: center;
}

.compartirPublicacion .fab{
    font-size: 27px;
}

.fas{
    font-size: 25px;
    padding: 5px;
    margin-left: 7px;
}

.flechas-detail {
    font-size: 30px;
    position: relative;
    top: 120px;
    margin: 0 10px 0 10px;
    height: 50px;
}


.botonCompra{
    width:70%;
    padding:8px;
    border-radius: 50px;
    border: none;
    background-color: #39A6A3;
    font-weight: 700;
}

#compartirLabel{
    font-style: italic;
}

.cajaDescripcion{
    display:block;
    margin: 20px 10px 10px 30px;
}

.cajaProductoRecomendado{
    width: 24%;
}

.tituloRecomendados{
    text-align: center;
    font-size: 25px;
    margin: 30px 0 10px 0;
    font-weight: bold;
}

.fotoRecomendados{
    width:100%;
}

.precioRecomendados{
    font-weight: bold;
    margin-top: 5px;
    font-size: 18px;
    font-style: italic;
}

.fotoProducto{
    width:50%;
}

.cajaProductoRecomendado{
    width: 21%;
}

.recomendados{
    display:flex;
    justify-content: space-between;
    margin: 10px 0 25px 0;
}

.recomendados i{
    align-self: center;
    font-size: 30px;
    margin: 0 10px 0 10px;
}

.tituloDescripcion{
    font-size: 21px;
    margin-bottom: 7px;
    font-weight: 500;
}

.descripcionDescripcion{
    margin: 10px 0 10px 0;
    font-size: 18px;
}

.tituloRecomendados{
    font-size: 25px;
    margin: 50px 0 10px 0;
    font-weight: bold;
}

/* ////////// LOGIN /////////// */

.main-login {
    height: 50vh;
}

.asistencia {
    padding: 5px 0 5px 25px;
    border-bottom: solid grey 1px;
    font-size: 12px;
}
.login {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 15px;
    height: 60%;
}
.ingresar {
    width: 30%;
    border-right: grey solid 1px;
    padding-right: 20px;
    padding-top: 15px;
}
.titulo {
    margin-bottom: 10px;  
}


.detalle-formulario{
    margin: 15px 0;
    position: relative;
}
.detalle-formulario input{
    position: absolute;
    right: 35px;
}

.boton{
    margin: 20px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.boton button {
    padding: 5px;
    background-color: #39A6A3 ;
    border: none;
    border-radius: 10px;
    width: 140px;
    font-weight: 600;
}
.crear-cuenta{
    width: 30%;
    padding-left: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crear-cuenta label {
    margin-bottom: 10px;
}
.crear-cuenta button {
    margin-top: 10px;
    padding: 5px;
    background-color: #39A6A3 ;
    border: none;
    border-radius: 10px;
    width: 140px;
    font-weight: 600;
}
