
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>

    
    <main>
        <div class="banner">
            <div class="flecha-izquierda"><i class="fas fa-chevron-left"></i></div>
            <img src="/images/baner2.jpg" alt="">
            <div class="flecha-derecha"><i class="fas fa-chevron-right"></i></div>
        </div>
        <section class="section-home">
            <article class="producto-home" >
                <div>
                    <img src="images/jordan1low.png" alt=""> 
                    <h2>Air Jordan 1</h2>
                </div>
            </article>
            <article class="producto-home">
                <img src="images/airmax200SE.png" alt=""> 
                <h2>Nike Air Max 200 SE</h2>
            </article>
            <article class="producto-home">
                <img src="images/pumaRS-Xbold.png" alt=""> 
                <h2>Puma RS-X Bold</h2>
            </article>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer') %>
    </footer>

</body>
</html>