<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>
    <header >
        <%- include ('./partials/header') %>
    </header>

    <main>
        <!--FORMULARIO DE REGISTRO-->
        <section class="register"> 
            <form action="/users/register" method="POST" class="formulario-registro" enctype="multipart/form-data">
                <div class="titulo-registro">
                    <h4>REGISTRATE</h4>
                </div>

                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="usuario">USUARIO</label>
                    <input class="inputsRegistro" type="text" name="usuario" id="usuario" required>
                </div>

                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="password">PASSWORD</label>
                    <input class="inputsRegistro" type="password" name="password" id="password" required>
                </div>

                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="confirmacionPassword">REPITA LA PASSWORD</label>
                    <input class="inputsRegistro" type="password" name="confirmacionPassword" id="rep_password" required>
                </div>

               <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="nombre">NOMBRE</label>
                    <input class="inputsRegistro" type="text" name="nombre" id="nombre" required>
                </div>
                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="apellido">APELLIDO</label>
                    <input class="inputsRegistro" type="text" name="apellido" id="apellido" required>
                </div>
                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="nacimiento">FECHA DE NACIMIENTO</label>
                    <input class="inputsRegistro" type="date" name="nacimiento" id="nacimiento" required class="lafecha">
                </div>
                <div class="etiqueta-sexo">
                    <label class="labelsRegistro" for="sexo">SEXO</label>
                    <div class="myh">
                        <label>M</label>
                        <input class="inputsRegistro" type="radio" name="sexo" id="sexo" value="M">
                        <label>F</label>
                        <input class="inputsRegistro" type="radio" name="sexo" id="sexo" value="F">
                    </div>
                </div>
               
                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro" for="email">E-MAIL</label>
                    <input class="inputsRegistro" type="email" name="email" id="email" required>
                </div>

                <div class="etiqueta-ingreso">
                    <label class="labelsRegistro"> AVATAR </label>
                    <input class="inputsRegistro" type="file" name="avatar" accept=".jpg,.png,.jfif">
                </div>
                
                <div class="cajaBoton">
                    <button class="botonEnviarRegistro" type="submit">ENVIAR</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer') %>
    </footer>

</body>
</html>