<div class="cabecera">
   <p> ¡Envios gratis a todo el país! </p>
</div>
<div class="main-header">
    <a href="/">
        <img src="/images/logosimple.png" alt="Venta zapatillas">
    </a>
    <div class="search">
        <input type="text" placeholder="Buscar..." class="buscador">
        <i class="fas fa-search"></i>
    </div>
    <div class="login-cart" >

        <% if (locals.isLogged) {  %>
        <div>
            <!-- activar imagen cuando se le de estilo  -->
            <!-- <img src="/images/users/avatars/<%= locals.userLogged.image %>" alt="">  -->
            <a href="/users/profile"> <%= locals.userLogged.first_name %> <%= locals.userLogged.last_name %> </a>
        </div>
        
        <div>
            <a href="/users/logout">Logout</a>
        </div>
        <% } else {  %>
        <div >
            <a id="login" href="/users/login">
                <i class="fas fa-user"></i>
            </a>
        </div>
        <% } %>

        <div>
            <a id="cart" href="/products/cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>


    </div>  
</div>

<div class="second-header">
    <a href="/products/create"><p>NEW</p></a>
    <a href="/products"><p>HOMBRE</p></a>
    <a href="/products"><p>MUJER</p></a>
    <a href="/products"><p>MARCA</p></a>
    <a href="/products"><p id="sale">SALE</p></a>
</div>