<div class="cabecera">
   <p> ¡Envios gratis a todo el país! </p>
</div>
<div class="main-header">
    <a href="/" id="logo">
        <img src="/images/logosimple.png" alt="Venta zapatillas">
    </a>

    <form action='/products/search' method='GET' class="search">
    <div class="inputSearch">
        <input type="text" placeholder="Buscar..." class="search2" name="search">
        <button type="submit" value="search" class="botonBusqueda"><i class="fas fa-search"></i></button>
    </div>
    </form>

    <div class="login-cart" >

        <% if (locals.isLogged) {  %>
        <div class="user-logged">
            <img src="/images/users/avatars/<%= locals.userLogged.avatar %>" alt=""> 
            <a href="/users/profile"> <%= locals.userLogged.first_name %>  </a>
             <!-- locals.userLogged.last_name -->
        </div>
        
        <div class="logout">
            <a href="/users/logout">Logout</a>
        </div>
        <% } else {  %>
        <div >
            <a id="login" href="/users/login">
                <i class="fas fa-user"></i>
            </a>
        </div>
        <% } %>

        <div>
            <a id="cart" href="/products/cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>


    </div>  
</div>
<% if (locals.isAdmin) { %>
    <div class="second-header">
        <a href="/products/create"><p> <button id="nuevoProducto">NUEVO PRODUCTO</button> </p></a>
        <form action="/products">
            <a href="/products"><p> <button>TODOS</button></p></a>

        </form>
        <form action="/products/hombre">
            <a href="/products/hombre"><p> <button>HOMBRE</button></p></a>

        </form>
        <form action="/products/mujer">
            <a href="/products/mejer"><p> <button>MUJER</button></p></a>

        </form>
        <form action="/products/sale">
            <a href="/products/sale"><p  > <button id="sale">SALE</button></p></a>

        </form>
    </div>
<% } else { %>
    <div class="second-header">
        <form action="/products">
            <a href="/products"><p> <button>TODOS</button></p></a>

        </form>
        <form action="/products/hombre">
            <a href="/products/hombre"><p> <button>HOMBRE</button></p></a>

        </form>
        <form action="/products/mujer">
            <a href="/products/mejer"><p> <button>MUJER</button></p></a>

        </form>
        <form action="/products/sale">
            <a href="/products/sale"><p > <button  id="sale">SALE</button></p></a>

        </form>
        <!-- <a href="/products"><p>MUJER</p></a>
        <a href="/products"><p>TODOS</p></a>
        <a href="/products"><p id="sale">SALE</p></a> -->
    </div>
<% } %>